html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F4F3F3;
}

.img-bg {
    background-image: url(/Resources/SiteImages/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rounded-top-bg {
    border-top-right-radius: 5rem !important;
}

.cor-destaque {
    font-weight: bolder;
    color: #db924f;
}
/* Teste com imagem da Home
.img-home {
    max-width: 100%;
    max-height:100%;
    height: 25em;
    margin-left: 1em;
    margin-right: 0em;
    position: relative;
    bottom: 40em;
    left: 15em;
}

@media screen and (max-width: 576px) {
    #ImagemHome {
        border-top-left-radius: 2.5rem !important;
    }
}
*/
.img-logo {
    max-width: 200px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin-left: 2rem;
}

.img-logo-reverso {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-left: 2rem;
}

.circles-0 {
    position: relative;
    background-color: #d4863e;
    width: 300px;
    height: 300px;
    left: 9em;
    top: 3em;
    z-index: -2;
    opacity: 0.8;
}

.circles-1 {
    position: relative;
    background-color: #db924f;
    width: 240px;
    height: 240px;
    left: 6em;
    top: -6em;
    z-index: -3;
    opacity: 0.8;
}

.circles-2 {
    position: relative;
    background-color: #f1ad6f;
    width: 225px;
    height: 225px;
    left: 12em;
    top: -14em;
    z-index: -1;
    opacity: 0.8;
}

.modal-body-home {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.75em;
}

.login {
    border-color: #db924f;
    border-radius: 10px;
    max-width: 25em;
    width: 15em;
    height: 2.5em;
    margin: 0.5em;
}

/* comecei a entender
@media (max-width: 768px) {
    .login {
        width: 7em;
        height 7em;
    }
}
*/

.btn-contas {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 50px;
}

.link-primary-1 {
    color: #191919;
}

.link-primary-1:hover, .link-primary-1:focus {
    color: #db924f;
}