html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F4F3F3;
}

.w-20 {
    width: 20% !important;
}

.w-35 {
    width: 35% !important;
}

.img-bg {
    background-image: url(/Resources/SiteImages/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rounded-top-bg {
    border-top-right-radius: 5rem !important;
}

.cor-destaque {
    font-weight: bolder;
    color: #db924f;
}

.img-logo {
    max-width: 200px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin-left: 2rem;
}

.img-soma {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    left: 1em;
}

.img-login {
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    margin-left: 2rem;
}

.avatar-circle {
    z-index: 10;
    border: 0.2em solid #191919;
}

.circles-0 {
    position: relative;
    background-color: #d4863e;
    width: 300px;
    height: 300px;
    left: 9em;
    top: 3em;
    z-index: -2;
    opacity: 0.8;
}

.circles-1 {
    position: relative;
    background-color: #db924f;
    width: 240px;
    height: 240px;
    left: 6em;
    top: -6em;
    z-index: -3;
    opacity: 0.8;
}

.circles-2 {
    position: relative;
    background-color: #f1ad6f;
    width: 225px;
    height: 225px;
    left: 12em;
    top: -14em;
    z-index: -1;
    opacity: 0.8;
}

.link-primary-1 {
    color: #191919;
    font-size: small;
}

    .link-primary-1:hover, .link-primary-1:focus {
        color: #db924f;
    }

.link-voltar {
    color: #f4f3f4;
    font-size: larger;
    text-decoration: underline;
    z-index: 5;
    position: relative;
    top: 10%;
    right: 50%;
}

    .link-voltar:hover, .link-voltar:focus {
        color: #db924f;
    }

.bg-login {
    width: 50%;
    height: 100%;
    border: 0em;
    background-color: #191919;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
}

.card-pub {
    min-width: 20%;
    width: 30em;
    height: 15em;
    margin-bottom: 2em;
    background-color: #f4f3f4;
    border: 0.1em solid;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 0.5em;
    position: relative;
    bottom: 10em;
}

.card-pub-1 {
    width: 15em;
    height: 15em;
    background-color: #191919;
    border-radius: 0.5em 0em 0em 0.5em;
    z-index: 1;
}

.card-seta {
    border-top: 1.25em solid transparent;
    border-left: 2.5em solid #db924f;
    border-bottom: 1.25em solid transparent;
    position: relative;
    left: 82%;
    bottom: 16%;
    z-index: 3;
}

.card-title {
    position: relative;
    top: 4%;
    left: 0%;
    width: 82%;
    background-color: #db924f;
    padding: 0.5em 0 0.5em;
    z-index: 3;
}

.card-img {
    position: absolute;
    bottom: 2%;
    left: 1%;
    max-width: 48%;
    max-height: 86%;
    width: 15em;
    height: 15em;
    z-index: 2;
}

.card-ava {
    max-width: 20%;
    max-height: 20%;
    z-index: 2;
}

.card-pub-2 {
    position: absolute;
    background-color: transparent;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.info-icon {
    position: relative;
    top: 1em;
    left: 68%;
    padding: 0em;
    width: 20px;
    height: 20px;
}

.btn-new-pub {
    color: #fff;
    background-color: #191919;
    border-color: #f4f3f4;
    border-radius: 0.7em;
    width: 12em;
    height: 2.5em;
}

    .btn-new-pub:hover {
        color: #fff;
        background-color: #db924f;
    }

.btn-filtro {
    background-color: #db924f;
    color: #191919;
    border-radius: 0.7em;
    width: 12em;
    height: 2.5em;
}

    .btn-filtro:active + .btn-filtro, .btn-filtro:active {
        color: #fff;
        background-color: #d46500;
        box-shadow: 0 0 0 0.25rem rgba(219, 146, 79, 0.5);
    }

.card-details {
    min-width: 20%;
    width: 50em;
    height: 50em;
    background-color: #191919;
    border: 0.1em solid;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 0.5em;
    z-index: 0;
}

.details-img {
    max-width: 100%;
    max-height: 60%;
    width: 30em;
    height 30em;
    z-index: 2;
    position: relative;
    border-radius: 0.5em;
}

.details-ava {
    max-width: 10%;
    max-height: 10%;
    z-index: 2;
}

.details-title {
    position: relative;
    max-width: 100%;
    max-height: 60%;
    height 30em;
    background-color: #db924f;
    z-index: 3;
}

.details-comment {
    position: relative;
    background-color: #fff;
    border: 0.1em solid;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 1.5em;
    font-size: 0.5em;
    width: 80%;
    height: 10%;
    left: 2%;
    bottom: 10%;
    z-index: 2;
}