html {
    font-size: 12px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    background-color: #F4F3F3;
}

footer div {
    padding: 50px 30px 10px;
    background: #191919;
}

.w-20 {
    width: 20% !important;
}

.w-35 {
    width: 35% !important;
}

.img-bg {
    background-image: url(/Resources/SiteImages/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cor-destaque {
    font-weight: bolder;
    color: #db924f;
}

.bg-orange {
    background-color: #db924f;
}

.img-logo {
    max-width: 200px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin-left: 2rem;
}

.img-login {
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    margin-left: 2rem;
}

.avatar-circle {
    z-index: 10;
    border: 0.2em solid #191919;
}

.cover-container {
    position: relative;
}

.circles-1 {
    position: absolute;
    background-color: #d4863e;
    width: 21em;
    height: 21em;
    opacity: 0.8;
    top: -10%;
    right: 30%;
    z-index: 2;
}

.circles-2 {
    position: absolute;
    background-color: #db924f;
    width: 15em;
    height: 15em;
    opacity: 0.8;
    top: 30%;
    right: 60%;
    z-index: 1;
}

.circles-3 {
    position: absolute;
    background-color: #f1ad6f;
    width: 13em;
    height: 13em;
    opacity: 0.9;
    bottom: -20%;
    right: 50%;
    z-index: 3;
}

.img-home {
    border-radius: 5%;
    border-top-right-radius: 20% !important;
    position: relative;
    z-index: 4;
}

.link-primary-1 {
    color: #191919;
    font-size: small;
}

    .link-primary-1:hover, .link-primary-1:focus {
        color: #db924f;
    }

.link-voltar {
    color: #f4f3f4;
    font-size: larger;
    text-decoration: underline;
    z-index: 5;
    position: relative;
    top: 10%;
    right: 50%;
}

    .link-voltar:hover, .link-voltar:focus {
        color: #db924f;
    }

.bg-login {
    width: 50%;
    height: 100%;
    border: 0em;
    background-color: #191919;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
}

.card-pub {
    margin-bottom: 2em;
    background-color: #f4f3f4;
    box-shadow: 4px 17px 32px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    position: relative;
    left: 50%;
    padding: 10px;
}

.card-pub-1 {
    width: 50%;
}

.card-pub-2 {
    position: relative;
    background-color: transparent;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0%;
}

.card-titulo{
    background: #191919;
}

.card-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center center;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-avatar {
    width: 20%;
    height: 20%;
}

.card-busca {
    background-color: #191919;
    margin-top: 2.5em;
    text-align: center;
    padding: 1em 2em;
    border-radius: 10px;
}

.info-icon {
    position: relative;
    top: 1em;
    left: 68%;
    padding: 0em;
    width: 20px;
    height: 20px;
}

.star-icon {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    bottom: 3px;
}

.btn-new-pub {
    color: #fff;
    background-color: #191919;
    border-color: #f4f3f4;
    border-radius: 0.7em;
    width: 12em;
    height: 2.5em;
}

    .btn-new-pub:hover {
        color: #fff;
        background-color: #db924f;
    }

.btn-filtro {
    background-color: #db924f;
    color: #191919;
    border-radius: 0.7em;
    width: 12em;
    height: 2.5em;
}

    .btn-filtro:active + .btn-filtro, .btn-filtro:active {
        color: #fff;
        background-color: #d46500;
        box-shadow: 0 0 0 0.25rem rgba(219, 146, 79, 0.5);
    }

.card-details {
    max-width: 80%;
    min-width: 20%;
    width: 48em;
    background-color: #191919;
    border: 0.1em solid;
    box-shadow: 0.7em 0.7em 1em #888888;
    border-radius: 0.5em;
    z-index: 0;
}

.details-img {
    max-width: 60%;
    max-height: 80%;
    width: 25em;
    height 25em;
    z-index: 2;
    position: relative;
    border-radius: 0.5em;
}

.details-ava {
    max-width: 10%;
    max-height: 10%;
    z-index: 2;
}

.details-ava-1 {
    max-width: 6%;
    max-height: 6%;
    z-index: 2;
}

.details-title {
    position: static;
    max-width: 100%;
    max-height: 60%;
    height 30em;
    background-color: #db924f;
    z-index: 3;
}

.details-comment {
    position: relative;
    background-color: #fff;
    border: 0.1em solid;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 1.5em;
    font-size: 0.5em;
    width: 60.5%;
    height: 10%;
    left: 19.8%;
    bottom: 10%;
    z-index: 2;
}

.details-likes {
    width: 2em;
    height: 3em;
    border: 0.1em solid #191919;
    border-radius: 0.5em;
    text-align: center;
}

.btn-search {
    color: transparent;
    background-color: #db924f;
    background-image: url(/Resources/SiteImages/icons8-search.svg);
    background-repeat: round;
    background-size: cover;
    border-radius: 0.5em;
    border: none;
    width: 2.8em;
    margin-left: 0.5em;
}

.form-control-1 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.1em solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-user {
    background-color: #f4f3f4;
    border: 0.1em solid #191919;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 1.5em;
    font-size: 0.5em;
    width: 50em;
    height: 20em;
}

.user-ava {
    max-width: 100%;
    max-height: 100%;
    width: 20em;
    height: 20em;
    z-index: 2;
    background-color: #191919;
}

.user-info {
    max-width: 100%;
    max-height: 100%;
    width: 33em;
    height: 20em;
    z-index: 2;
    background-color: transparent;
    position: relative;
    left: 20em;
    bottom: 20em;
}

.table-user {
    border-radius: 0.5em;
    font-size: 0.5em;
    overflow-x: auto;
    background: #f4f3f4;
}

.index-user {
    background-color: #191919;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 1.5em;
    width: 25em;
    height: 43em;
}

.index-user-title {
    background-color: #f4f3f4;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 1.5em;
    width: 50em;
    height: 15em;
    position: relative;
    left: 10%;
    padding: 1em;
}

.index-user-emblemas {
    background-color: #f4f3f4;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 1.5em;
    width: 50em;
    height: 25em;
    position: relative;
    left: 10%;
    top: 7%;
    padding: 1em;
}

.sem-emblema {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    position: relative;
    top: 10%;
    background-color: #191919;
}

.emblema-group {
    width: 12em;
    height: 15em;
}

.emblema-img {
    width: 10em;
    height: 10em;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.emblema-desc {
    width: 10em;
    height: 5em;
    text-align: center;
}

.btn-filtro {
    color: #000;
    background-color: #db924f;
    border-color: #db924f;
}

    .btn-check:checked + .btn-filtro:focus, .btn-check:active + .btn-filtro:focus, .btn-filtro:active:focus, .btn-filtro.active:focus, .show > .btn-filtro.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
    }

.btn-view-post {
    color: #fff;
    background-color: #191919;
    border-color: #f4f3f4;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
}

    .btn-view-post:hover {
        color: #fff;
        background-color: #db924f;
        border-color: none;
    }

.index-view-user {
    background-color: #191919;
    box-shadow: 0.5em 0.5em 1em #888888;
    border-radius: 1.5em;
    width: 25em;
    height: 15em;
    position: relative;
    left: 20%;
}

.index-view-opt {
    width: 25em;
    height: 7em;
    position: relative;
    left: 20%;
    top: 7%;
}

.not-result {
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 70%;
}

.not-result-1 {
    width: 300px;
    height: 50px;
    position: relative;
    left: 20%;
}

.btn-like {
    width: 1em;
    height: 2em;
    position: relative;
    top: 95%;
    right: 6%;
}

.btn-logout {
    color: #fff;
    background-color: #191919;
    border-color: #dc3545;
    border-radius: 50px;
    width: 260px;
    height: 50px;
    font-size: larger;
}
    .btn-logout:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.btn-del {
    color: #fff;
    background-color: #dc3545;
    background-image: url(/Resources/SiteImages/trash-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #dc3545;
    width: auto;
    height: 1.7em;
}

    .btn-del:hover {
        color: #fff;
        background-color: #bb2d3b;
        border-color: #b02a37;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #f1ad6f;
}

.img-fluid {
    margin: 0%;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .circles-1 {
        top: -15%;
        right: 20%;
    }

    .circles-2 {
        top: 30%;
        right: 50%;
    }

    .circles-3 {
        bottom: -20%;
        right: 40%;
    }
}

@media (min-width: 992px) {
    .circles-1 {
        top: -10%;
        right: 40%;
    }

    .circles-2 {
        top: 35%;
        right: 65%;
    }

    .circles-3 {
        bottom: -10%;
        right: 55%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }

    .circles-1 {
        top: -5%;
        right: 40%;
    }

    .circles-2 {
        top: 35%;
        right: 65%;
    }

    .circles-3 {
        bottom: -5%;
        right: 55%;
    }
}
@media (min-width: 1920px) {
    html {
        font-size: 16px;
    }

    .circles-1 {
        top: -10%;
        right: 40%;
    }

    .circles-2 {
        top: 35%;
        right: 65%;
    }

    .circles-3 {
        bottom: -10%;
        right: 55%;
    }
}
@media (max-height: 700px) and (min-width: 768px) {
    .img-home, .circles-1, .circles-2, .circles-3 {
        display: none;
    }
}

@media (max-height: 750px) and (min-width: 992px) {
    .img-home, .circles-1, .circles-2, .circles-3 {
        display: none;
    }
}

@media (max-height: 850px) and (min-width: 1200px) {
    .img-home, .circles-1, .circles-2, .circles-3 {
        display: none;
    }
}
@media (max-height: 900px) and (min-width: 1920px) {
    .img-home, .circles-1, .circles-2, .circles-3 {
        display: none;
    }
}