@using RecommenduWeb.Models;
@inject SignInManager<Usuario> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link link-preto @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Informações pessoais</a></li>
    <li class="nav-item"><a class="nav-link link-preto @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link link-preto @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Senha</a></li>
    <li class="nav-item"><a class="nav-link link-preto @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Conta</a></li>
</ul>
