@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

<div class="container d-flex justify-content-start my-5 ms-5">
    <div class="row">
        <div class="col-12">
            <h1 class="py-3">@ViewData["Title"]</h1>
            <p>
                Favor verifique a caixa de entrada ou lixo eletrônico para redefinir a senha.
            </p>
        </div>
        <div class="col-12">
            <a asp-action="Index" asp-controller="Home" class="btn btn-preto py-3 px-5">Confirmar</a>
        </div>

    </div>
</div>
