@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Favor verifique a caixa de entrada ou lixo eletrônico para redefinir a senha.
</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Confirmar</a>
