@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">Essa conta foi bloqueada temporariamente. Por favor, tente novamente em alguns instantes.</p>
