@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-md-block d-none bg-preto text-white text-center h-100vh">
            <div class="row justify-content-center py-5">
                <div class="col-7">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/Resources/SiteImages/LogoReverso.png" class="w-50 ms-2" alt="Imagem responsiva" />
                    </a>
                </div>
                <div class="col-7">
                    <h1 class="my-5"><b>Bem-vindo!</b></h1>
                    <p class="h3 fw-normal">
                        Faça o login e fique por dentro das melhores dicas do momento.
                    </p>
                    <p class="h3 fw-normal pt-3">
                        Caso não possua uma conta, realize o cadastro no botão abaixo:
                    </p>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-laranja fw-bold mt-5 py-3 px-5" asp-area="Identity" asp-page="/Account/Register">Registrar-se</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 d-flex justify-content-center">
            <form id="account" method="post">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1 class="display-5 fw-normal mb-5">@ViewData["Title"]</h1>
                        <div asp-validation-summary="ModelOnly" class="text-danger text-start" role="alert"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex justify-content-center">
                            <div class="form-floating">
                                <input asp-for="Input.Login" class="form-control shadow-sm" autocomplete="login" aria-required="true" placeholder="Usuário ou Email" />
                                <label asp-for="Input.Login" class="form-label ms-3">Usuário ou e-mail</label>
                                <span asp-validation-for="Input.Login" class="text-danger col-6 text-start mt-1 ms-3"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control shadow-sm" autocomplete="current-password" aria-required="true" placeholder="Senha" />
                                <label asp-for="Input.Password" class="form-label ms-3">Senha</label>
                                <span asp-validation-for="Input.Password" class="text-danger col-6 text-start mt-1 ms-3"></span>
                            </div>
                        </div>
                        <div class="form-check d-md-block d-flex justify-content-center">
                            <input asp-for="Input.RememberMe" class="form-check-input" />
                            <label asp-for="Input.RememberMe" class="form-check-label">Mantenha-me conectado</label>
                        </div>
                        <div class="row text-center py-3">
                            <div class="col-lg-6">
                                <a id="forgot-password" class="link-preto me-2" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                            </div>
                            <div class="col-lg-6">
                                <a id="resend-confirmation" class="link-preto" asp-page="./ResendEmailConfirmation">Reenviar email de confirmação</a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-preto py-3 px-5 me-5" onclick="location.href='@Url.Action("Index", "Home")'">Voltar</a>
                            <button id="login-submit" type="submit" class="btn btn-laranja fw-bold py-3 px-5">Entrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}