@page
@using System.Collections;
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<div class="bg-login">
</div>
<div class="container-fluid text-center">
    <a class="btn link-voltar" onclick="location.href='@Url.Action("Index", "Home")'">Voltar</a>
    <div class="row">
        <div class="col-sm-6 pe-5 text-white">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Resources/SiteImages/LogoReverso.png" class="img-login" alt="Imagem responsiva" /></a>
                <h1 class="my-5"><b>Bem vindo de volta!</b></h1>
                <h3>
                    <p>Para se manter conectado conosco, faça o cadastro com suas informações pessoais</p>
                    <p class="mt-7">Caso possua conta faça o login</p>
                </h3>
                <a class="btn btn-secondary mt-5 p-2" asp-area="Identity" asp-page="/Account/Login">Log in</a>
            </div>
        </div>
        <div class="col-md-6 ps-5 mt-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h1 class="text-start mb-6">Criar uma nova conta</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3 d-flex justify-content-end">
                    <input asp-for="Input.NomeCompleto" class="form-control" autocomplete="name" aria-required="true" placeholder="Informe seu nome" />
                    <label asp-for="Input.NomeCompleto" class="form-label mx-7">Nome Completo</label>
                    <span asp-validation-for="Input.NomeCompleto" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 d-flex justify-content-end">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Nome de usuário" />
                    <label asp-for="Input.UserName" class="form-label mx-7">Usuário</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 d-flex justify-content-end">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label mx-7">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 d-flex justify-content-end">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label mx-7">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 d-flex justify-content-end">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword" class="form-label mx-7">Confirmar Senha</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <button id="registerSubmit" type="submit" class="w-70 btn btn-secondary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script scr="~/js/site.js"></script>
}