@page
@using System.Collections;
@model RegisterModel
@{
    ViewData["Title"] = "Registrar-se";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-md-block d-none bg-preto text-white text-center h-100vh">
            <div class="row justify-content-center py-5">
                <div class="col-7">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/Resources/SiteImages/LogoReverso.png" class="w-50 ms-2" alt="Imagem responsiva" />
                    </a>
                </div>
                <div class="col-7">
                    <h1 class="my-5"><b>Bem-vindo!</b></h1>
                    <p class="h3 fw-normal">
                        Para se manter conectado conosco, faça o cadastro com suas informações pessoais
                    </p>
                    <p class="h3 fw-normal pt-3">
                        Caso possua conta faça o login:
                    </p>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-laranja fw-bold mt-5 py-3 px-5" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 d-flex justify-content-center">
            <form id="account" method="post">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1 class="display-5 fw-normal mb-5">@ViewData["Title"]</h1>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex justify-content-center">
                            <div class="form-floating">
                                <input asp-for="Input.NomeCompleto" class="form-control shadow-sm" autocomplete="name" aria-required="true" placeholder="Informe seu nome" />
                                <label asp-for="Input.NomeCompleto" class="form-label ms-3">Nome Completo</label>
                                <span asp-validation-for="Input.NomeCompleto" class="text-danger mt-1 ms-3"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-floating">
                                <input asp-for="Input.UserName" class="form-control shadow-sm" autocomplete="username" aria-required="true" placeholder="Nome de usuário" />
                                <label asp-for="Input.UserName" class="form-label ms-3">Usuário</label>
                                <span asp-validation-for="Input.UserName" class="text-danger mt-1 ms-3"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control shadow-sm" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label ms-3">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger mt-1 ms-3"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control shadow-sm" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label ms-3">Senha</label>
                                <span asp-validation-for="Input.Password" class="text-danger mt-1 ms-3"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-floating">
                                <input asp-for="Input.ConfirmPassword" class="form-control shadow-sm" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword" class="form-label ms-3">Confirmar Senha</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger mt-1  ms-3"></span>
                            </div>
                        </div>
                        <div class="d-flex d-md-block d-flex justify-content-center py-3">
                            <div class="form-check">
                            <input asp-for="Input.AgreesToTerms" class="form-check-input" />
                            <label asp-for="Input.AgreesToTerms" class="form-check-label">
                                Li e concordo com os
                                    <a asp-action="Privacy" asp-controller="Home" target="_blank" class="link-laranja">Termos de Uso e Privacidade</a>
                            </label>
                            <span asp-validation-for="Input.AgreesToTerms" class="text-danger mt-1 d-block"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-preto py-3 px-5 me-5" onclick="location.href='@Url.Action("Index", "Home")'">Voltar</a>
                            <button id="login-submit" type="submit" class="btn btn-laranja fw-bold py-3 px-5">Registrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}