@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

<h1 class="text-center my-3">@ViewData["Title"]</h1>
<p class="text-center">
    Sua senha foi redefinida com sucesso. Por favor, <a asp-page="./Login">clique aqui</a> para acessar sua conta.
</p>
