@model RecommenduWeb.Models.ViewModels.PostagemViewModel

@{
    ViewData["Title"] = "Nova postagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1 class="text-md-center ms-md-0 ms-5 my-5">@ViewData["Title"]</h1>
    <div class="row mb-5">
        <div class="col">
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="row gx-md-5 g-2 ms-md-0 ms-5">
                    <div class="col-md-4 text-md-end text-start">
                        <label asp-for="Categoria" id="lblCategoria" class="control-label fw-bold"></label><span class="text-danger">*</span>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group mb-3">
                            <select asp-for="Categoria" id="slcCategoria" class="form-control shadow-sm w-50" onchange="CarregaForm()">
                                <option value="0" style="color: gray" selected>Selecione...</option>
                                <option value="1">Produto</option>
                                <option value="2">Serviço</option>
                            </select>
                            <span asp-validation-for="Categoria" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 text-md-end text-start">
                        <label asp-for="Titulo" class="control-label text-end fw-bold" id="lblTitulo"></label><span class="text-danger">*</span>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group mb-3">
                            <input asp-for="Titulo" class="form-control shadow-sm w-50" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 text-md-end text-start">
                        <label asp-for="Descricao" class="control-label text-end fw-bold"></label><span class="text-danger">*</span>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group mb-3">
                            <textarea asp-for="Descricao" class="form-control shadow-sm w-50" cols="60" rows="8"></textarea>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 text-md-end text-start">
                        <label asp-for="PublicoAlvo" class="control-label text-end fw-bold"></label><span class="text-danger">*</span>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group mb-3">
                            <input asp-for="PublicoAlvo" class="form-control shadow-sm w-50" />
                            <span asp-validation-for="PublicoAlvo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 text-md-end text-start">
                        <label class="control-label text-end fw-bold">Imagem</label><span class="text-danger">*</span>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group mb-3" id="btnImg">
                            <button class="btn-quadrado-form" style="font-size: 5em" type="button" id="btnNovoPost" onclick="EnviarImagem()">+</button>
                            <div class="img-new-container">
                                <img id="imgNovoPost" src="#" alt="Imagem Enviada" class="img-new" style="display: none;">
                                <div class="img-new-overlay" id="imgContainer" onclick="RemoverImagemForm()">
                                    <div class="texto-overlay fs-1 btn-close" id="divClose" style="display: none;"></div>
                                </div>

                            </div>
                            <input asp-for="PostFile" onchange="ValidarArquivo()" id="fileInput" accept=".png, .jpg, .jpeg" class="form-control shadow-sm w-50 d-none" />
                            <span asp-validation-for="PostFile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col" id="formProduto" hidden="true">
                        <hr />
                        <div class="row">
                            <div class="col-md-4 text-md-end text-start">
                                <label asp-for="Fabricante" class="control-label text-end fw-bold"></label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    <input asp-for="Fabricante" class="form-control shadow-sm w-50" />
                                    <span asp-validation-for="Fabricante" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 text-md-end text-start">
                                <label asp-for="LinkProduto" class="control-label text-end fw-bold"></label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    <input asp-for="LinkProduto" class="form-control shadow-sm w-50" />
                                    <span asp-validation-for="LinkProduto" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" id="formServico" hidden="true">
                        <hr />
                        <div class="row">
                            <div class="col-md-4 text-md-end text-start">
                                <label asp-for="Estado" class="control-label text-end fw-bold"></label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    @Html.DropDownListFor(model => model.Estado, ViewData["Estado"] as SelectList, new {@class="form-control shadow-sm w-50", @id="ddlEstado"})
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 text-md-end text-start">
                                <label asp-for="Cidade" class="control-label text-end fw-bold">Cidade</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    <input asp-for="Cidade" class="form-control shadow-sm w-50" id="ddlCidades" aria-required="true" placeholder="Nome da cidade" />
                                    <span asp-validation-for="Cidade" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 text-md-end text-start">
                                <label asp-for="Endereco" class="control-label text-end fw-bold"></label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    <input asp-for="Endereco" class="form-control shadow-sm w-50" />
                                    <span asp-validation-for="Endereco" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 text-md-end text-start">
                                <label asp-for="Contato" class="control-label text-end fw-bold"></label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group mb-3">
                                    <input asp-for="Contato" class="form-control shadow-sm w-50" />
                                    <span asp-validation-for="Contato" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col form-group d-flex justify-content-md-end">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-preto py-3 px-5">Voltar</a>
                        </div>
                        <div class="col form-group d-flex justify-content-md-start ">
                            <input type="submit" id="btnSubmit" value="Publicar" class="btn btn-laranja py-3 px-5" disabled="true" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script scr="~/js/site.js"></script>
    }
}
