@inject RecommenduWeb.Services.PostService PostService
@model RecommenduWeb.Models.ViewModels.PostagemViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h2 style="color: red">Slide 7</h2>