@{
    ViewData["Title"] = "Home Page";
}
<body>
    <partial name="_HomePartial" />
    <section>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="align-self-center text-center text-md-start">
                        <h1 class="display-5">
                            <strong>Dê os seus melhores conselhos para o Brasil!</strong>
                        </h1>
                        <h2 class="lead">
                            A <span class="cor-destaque">Recommendu</span> é a plataforma perfeita
                            para indicar ou pedir recomendações de
                            <span class="cor-destaque">produtos</span> e <span class="cor-destaque">serviços</span>.
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="row">
                        <div class="cover-container d-flex justify-content-end">
                            <div class="circles-1 rounded-circle"></div>
                            <div class="circles-2 rounded-circle"></div>
                            <div class="circles-3 rounded-circle"></div>
                            <img src="./Resources/SiteImages/HomeImg.png" class="img-fluid img-home w-75" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>