@{
    ViewData["Title"] = "Home Page";
}
<body class="img-bg">
    <partial name="_HomePartial" />
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-7">
                <h1 class="display-5 text-start mt-6">
                    <b>Dê os seus melhores conselhos para o Brasil!</b>
                </h1><br />
                <h2 class="display-7 text-start my-4">
                    A <span class="cor-destaque">Recommendu</span> é a plataforma perfeita

                    para indicar ou pedir recomendações de
                    <span class="cor-destaque">produtos</span> e <span class="cor-destaque">serviços</span>.
                </h2>
            </div>
            <div class="col-sm-2 col-5">
                <div class="circles-0 rounded-circle"></div>
                <div class="circles-1 rounded-circle"></div>
                <div class="circles-2 rounded-circle"></div>
            </div>
            <div id="ImagemHome" class="col-4 mt-sm-6 mt-md-6 mt-xl-6 d-none d-sm-block">
                <img src="./Resources/SiteImages/HomeImg.png" class="img-fluid rounded-top-bg" />
            </div>
        </div>
    </div>
</body>