@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row justify-content-between">
        <div class="col-6">
            <h1 class="display-5 text-start mt-6 mx-4">
                <b>Dê os seus melhores <br />conselhos para o Brasil!</b>
            </h1>
            <h2 class="display-7 text-start my-4 mx-4">
                A <span class="cor-destaque">Recommendu</span> é a plataforma perfeita
                <br />
                para indicar ou buscar recomendações de<br />
                <span class="cor-destaque">produtos</span> e <span class="cor-destaque">serviços</span>.
            </h2>
        </div>
        <div class="col-2">
            <div class="circles-0 rounded-circle">
            </div>
            <div class="circles-1 rounded-circle">
            </div>
            <div class="circles-2 rounded-circle">
            </div>
        </div>
        <div class="col mt-6">
            <img src="https://i.im.ge/2023/04/10/Iplqn4.HomeImg.png" class="img-fluid"/>
        </div>
    </div>
</div>