@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dê os seus melhores <br />conselhos para o Brasil!</h1>
    <p>A Recommendu é a plataforma perfeita <br />
        para indicar ou pedir recomendações de<br />
        produtos e serviços.</p>
</div>
